{
    "parserOptions": {
        "ecmaVersion": 6
    },

    "env": {
        "browser": true, //for no error in console.log
        "es6": true
    },

    "extends": [
        "eslint:recommended"
    ],
 
    "rules": {
        "no-unused-vars": "error",
        "prefer-const": "warn",
        "camelcase": "warn",
        "quotes": [0, "single"],
        "spaced-comment": "warn",
        "semi": "error",
        "space-infix-ops": "warn"
    }
}
// , {
//     "avoidEscape": true,
//     "allowTemplateLiterals": true
// }